button {
    font-weight: var(--text2Bold-font-weight);
    font-size: var(--text2-font-size);
}
.button__post{
    background-color: var(--color-brand-1);
    color: var(--color-whiteFixed);
    padding: 0.75rem;
    border-radius: 3px;
    width: 75px;
    height: 45px;
    align-self: end;
    cursor: pointer;
}
.button__follow{
    background-color: var(--color-whiteFixed);
    color: var(--color-grey1);
    border: solid 1px var(--color-grey1);
    border-radius: 2px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}
.article__postButton{
    background-color: var(--color-grey1);
    color: var(--color-whiteFixed);
    padding: 16px;
    border-radius: 3px;
    cursor: pointer;
}

/* hover */
.button__post:hover{
    background-color: var(--color-brand-2);
}
.button__follow:hover{
    background-color: var(--color-whiteFixed);
    border-color: var(--color-brand-2);
    color: var(--color-brand-2)
}
.button__follow:focus{
    background-color: var(--color-brand-2);
    color: var(--color-whiteFixed)
}
.article__postButton:hover{
    background-color: var(--color-grey0);
}