:root {
    --color-brand-1: #4263eb;
    --color-brand-2: #364fc7;
    --color-grey0: #0a0c0d;
    --color-grey1: #212529;
    --color-grey2: #495057;
    --color-grey3: #868e96;
    --color-grey4: #dee2e6;
    --color-grey5: #f8f9fa;
    --color-grey-opacity-1: rgba(33, 37, 41, 0.5);
    --color-whiteFixed: #ffffff;
    --color-like: #d7443e;

    --title1-font-weight: 700;
    --title1-font-size: 1.75rem;
    --title1-line-height: 2.5rem;
    --title2-font-weight: 600;
    --title2-font-size: 1.25rem;
    --title2-line-height: 1.5rem;
    --text1-font-weight: 400;
    --text1-font-size: 1rem;
    --text1-line-height: 1.75rem;
    --text2-font-weight: 400;
    --text2-font-size: 0.875rem;
    --text2-line-height: 1rem;
    --text3-font-weight: 400;
    --text3-font-size: 0,75rem;
    --text3-line-height: 1rem;
    --text2Bold-font-weight: 600;
    --text2Bold-font-size: var(--text2-font-size);
}