body {
    font-family: Inter;
}

.h2__name, .title__suggestions{
    font-weight: var(--title2-font-weight);
    font-size: var(--title2-font-size);
    line-height: var(--title2-line-height);
}
.p__title{
    font-weight: var(--text2-font-weight);
    font-size: var(---text2-font-size);
    line-height: var(--text2-line-height);
    color: var(--color-grey2);
}
.header__text{
    font-weight: var(--text2-font-weight);
    font-size: var(---text2-font-size);
    line-height: var(--text2-line-height);
    color: var(--color-whiteFixed)
}
.title__posts, .article__titlePost{
    font-weight: var(--title1-font-weight);
    font-size: var(--title1-font-size);
    line-height: var(--title1-line-height);
}
.article__textPost{
    font-weight: var(--text1-font-weight);
    font-size: var(---text1-font-size);
    line-height: var(--text1-line-height);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}